body {
	margin: 25px;
	font-family: 'Russo One', sans-serif;
	color: "#000";
	background-color: rgb(218, 216, 216);
}

#container {
	  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
}

#settings {
	text-align: center;
}
a, i {
	color: rgb(92, 91, 91);
}

canvas {
	background-color: rgb(194, 226, 199);
	color: #f72bf7;
}

.solid {
	border:3px solid #0b4b35;
}

.dashed {
	border:3px dashed #0b4b35;
}

.hidden {
	visibility:hidden;
}